/* imports */
/***********/
@import url(reset.css);
@import url(typography.css);
@import url(SimplyButtons.css);

/* general stuff */
/*****************/
body {
    color: #27282C;
    font-family: Helvetica, Arial, sans-serif;
    overflow: auto;
}

span {
    font-size: 1.0em;
}

a {
    color: #e7a300;
    text-decoration: none;
    white-space:nowrap;
}

a:hover {
    color: #27282C;
    text-decoration: underline;
    white-space:nowrap;
}

ul a:hover {
    color: #27282C;
    text-decoration: none;
}

p {
    margin-bottom: 10px;
    text-align: left;
}

h1, h2, h3, h4 {
    font-family: Comfortaa;
    font-weight: bold;
}

h1 {
    color: #ffb400;
    font-size: 2em;
    margin: 10px 0 15px 0;
    text-align: center;
}

h2 {
    font-size: 1.6em;
    text-align: left;
}

h3 {
    font-size: 1.4em;
    text-align: left;
}

img {
    border: none;
}

img.logos {
    padding: 10px;
}

ul {
    list-style: none;
}

#logo {
    float: left;
    left: 10px;
    position: relative;
    top: 5px;
}

#content {
    border-left: 4px solid #27282C;
    border-right: 4px solid #27282C;
    margin: 0 auto;
    min-height: 400px;
    padding: 1px 15px 35px 15px;
    text-align: center;
    width: 922px;
}

#footer {
    background-color: #27282C;
    border-left: 4px solid #27282C;
    border-right: 4px solid #27282C;
    color: white;
    height: 30px;
    margin: -25px auto;
    padding: 8px 0 2px 0;
    text-align: right;
    width: 952px;
}

/* start.html specific */
/************************/

#start p {
    text-align: center;
}

#start img {
    padding: 20px;
}

/* header.html specific */
/************************/

#navigation {
    background-color: #27282C;
    border-left: 4px solid #27282C;
    border-right: 4px solid #27282C;
    height: 70px;
    margin: 0 auto;
    width: 952px;
}

#nav, #nav ul {
    float: right;
    position: relative;
}

#nav a img {
    background-color: #fff;
    position: relative;
    top: 15px;
}

#nav li:hover a img {
    background-color: #ffb400;
}

#nav a {
    color: #fff;
    display: block;
    font-size: 0.9em;
    text-decoration: none;
}

#nav li:hover a {
    color: #ffb400;
}

#nav li {
    float: left;
    position: relative;
    text-align: center;
    top: -10px;
}

#nav li a {
    display: block;
    padding: 4px 8px 4px 8px;
}


/* footer.html specific */
/************************/

#footer img {
    background-color: #fff;
}

#footer img:hover, #footer a:hover img {
    background-color: #ffb400;
}

#footer a span {
    color: #fff;
    font-size: 0.8em;
    padding: 0 2px 0 4px;
    position: relative;
    top: -7px;
}

#footer a:hover span {
    color: #ffb400;
}

/* logo overlay text */
/*********************/
ul li.overlay span.overlaytext {
    background-color: white;
    border: 1px solid #27282C;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    bottom: 0px;
    left: 5px;
    opacity: 0.8;
    padding: 2px 5px 2px 5px;
    position: absolute;
    min-width: 130px;
}

/* oslist.html specific */
/***********************/
ul#oslist li {
    display: inline;
    position: relative;
}

ul#oslist li.top {
    height: 150px;
    width: 150px;
}

ul#oslist li.top ul {
    background-color: #fff;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 5px rgba(39,40,44,0.7);
    -moz-box-shadow: 0px 5px 5px rgba(39,40,44,0.7);
    -webkit-box-shadow: 0px 5px 5px rgba(39,40,44,0.7);
    display: none;
    left: -10px;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 36px;
    width: 150px;
}

ul#oslist li.top:hover ul {
    display: block;
}

ul#oslist li.top:hover {
    padding-bottom: 55px;
}

ul#oslist li.top:hover span.text {
    bottom: 55px;
}

ul#oslist li ul li {
    display: block;
}

ul#oslist li ul li span.osname {
    background: none;
    border: none;
    left: 5px;
    position: relative;
    top: -8px;
}

/* jabberreg.html specific */
/****************************/
#regform {
    left: 80px;
    margin: 20px auto;
    padding-bottom: 25px;
    position: relative;
    text-align: left;
    width: 500px;
}

#regform button {
    margin-top: 5px;
}

.reg-textfield {
    font-size: 20px;
    height: 25px;
    width: 250px;
}

.reg-selectfield {
    position: relative;
    top: -5px;
}

.colorbar {
    display: none;
    width: 1px;
    background-image: url(../images/passwordstrength.jpg);
    height: 5px; 
    float: left;
}

span.percent {
    display: none;
    position: relative;
    top: -20px;
}
span.result{
    color: green;
    display: none;
    font-size: 0.8em;
    position: relative;
    top: -20px;
}

/* clientlist.html specific */
/****************************/
#clientlist {
    margin-top: 25px;
}

ul#clientlist li {
    display: inline;
    position: relative;
}

ul#clientlist li span.asterisk {
    font-size: 8em;
    right: 10px;
    position: absolute;
    bottom: 25px;
}

ul#clientlist li span.defaultclient {
    font-size: 1.2em;
    left: 0px;
    min-width: 150px;
    position: absolute;
    top: -180px;
}

ul#clientlist span.overlaytext {
    left: 10px;
}

/* tutorial.html specific */
/**************************/
#tut-image {
    background-color: white;
    border: 1px solid #27282C;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
    margin-top: 20px;
    padding: 15px;
}

#caption p {
    color: black;
    font-size: 1em;
    padding: 0 25px 25px;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

#links p {
    margin: 20px auto;
    text-align: center;
}

#links h2 {
    text-align: center;
}

#links h3 {
    margin-top: 20px;
    text-align: center;
}

#links form {
    display: inline;
}

ul.links li {
    display: block;
    padding: 5px;
}

ul.authordata {
    margin-bottom: 20px;
}

.pagination {
    background: url(../images/ui/circle.png) 0px no-repeat;
    font-size: 1.1em;
    padding: 11px;
}

a.pagination:hover {
    background: url(../images/ui/circle-full.png) 0px no-repeat;
    color: #fff;
    text-decoration: none;
}

.active {
    background: url(../images/ui/circle-full.png) 0px no-repeat;
    color: #fff;
}

a.active:hover {
    color: #fff;
}

a.overten, a.overten:hover {
    padding: 5.5px;
}

#tut-navigation {
    position: relative;
    top: -30px;
}

#tut-navigation a {
    color: #27282C;
    font-size: 6em;
    text-decoration: none;
}

#tut-navigation a.nav-links-back {
    font-size: 2em;
    position: relative;
    top: 30px;
}

.nav-all {
}

.nav-back {
    float: left;
}

.nav-next {
    float: right;
}

/* 404 page */
/************/

#notfound {
    color: #74BF04;
    font-size: 3em;
}

/* temporary stuff */
/*******************/

