{% extends "mainsite/layout.html" %}
{% block head %}

{% endblock %}
{% block title %}{{ clist[0].os.full }}{% endblock %}
{% block content %}
  <h1>Clients für {{ clist[0].os.full }}</h1>
  <ul id="clientlist">
  {% for c in clist|sort %}
  <li class="overlay"><a href="{{ url_for('tutorial', tid=c.id) }}">
    <img class="logos" src="{{ url_for('static', filename='images/client/logo-' + c.client.short + '.png') }}" alt="{{ c.client.full }}" />
    {% if c.default %}
      <span class="asterisk">*</span>
      <span class="defaultclient">Empfohlener Client</span>
    {% endif %}
      <span class="overlaytext">{{ c.client.full }}</span>
  </a></li>
  {% endfor %}
  </ul>
{% endblock %}
