{% extends "mainsite/layout.html" %}
{% block head %}

{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
<h1>{{ pagetitle }}</h1>
<p>Jabber ist, ähnlich wie ICQ und MSN, ein Dienst der es dir erlaubt mit Freunden oder Bekannten zu chatten. Der große Vorteil den Jabber gegenüber den anderen Diensten hat, ist seine Unabhängigkeit. Man ist nicht auf einen Anbieter festgelegt und kann aus einer großen Auswahl an <a href="http://wiki.einfachjabber.de/Glossar#Client">Client</a>-Programmen wählen.</p>
<h2>Das Prinzip Jabber</h2>
<p>Die Grundidee bei Jabber – wie beim Instant Messaging allgemein – ist eine Freundesliste. Dort trägt man Freunde, Bekannte, Kollegen oder Familienmitgleider ein. Fortan kann man sehen, wann diese Freunde online sind, und dann mit ihnen chatten, also Textnachrichten austauschen.</p>
<h2>Wichtig zu wissen</h2>
<p>Ein Punkt der immer wieder zu Verwirrung führt ist, das es nicht <strong>das</strong> Jabber-Programm gibt. Jabber ist nur das Synonym für den Dienst über den man kommuniziert. Dazu benutzt man eines der vielen <a href="http://wiki.einfachjabber.de/Glossar#Client">Client</a>-Programme, für die wir auch einfach zu befolgende <a href="{{ url_for('oslist') }}">Einrichtungs-Anleitungen</a> bereitstellen.</p>
<h2>Jeder mit jedem</h2>
<p>Jabber hat den unschlagbaren Vorteil, dass du, egal für welchen Anbieter du dich entscheidest, auch mit den Benutzern der anderen Anbieter kommunizieren kannst. Zum Beispiel kannst du als Nutzer von GMX auch mit deinen Freunden bei Google Mail oder Web.de chatten, ohne ein Konto dort anlegen zu müssen.</p>
<h2>Die Jabber-Adresse</h2>
<p>Jeder Benutzer hat eine Adresse, die im Aufbau der E-Mail-Adresse gleich ist, die sogenannte <a href="http://wiki.einfachjabber.de/Glossar#Jabber-ID">Jabber-ID</a>. E-Mail-Adressen einiger großer Anbieter (<a href="http://wiki.einfachjabber.de/Jabber-Provider">Übersicht</a>) können zum Beispiel direkt als Jabber-Adresse benutzt werden. Eine passende Jabber-ID wäre zum Beispiel:</p>
<h3 class="center">benutzer@einfachjabber.de</h3>
<h2>Immer erreichbar</h2>
<p>Jabber erlaubt es im Gegensatz zu anderen Anbietern von mehreren Orten gleichzeitig (z.B. auf dem Computer zu Hause und auf dem Mobiltelefon) eingeloggt zu sein. Optional kann dieser Ort auch in der Jabber-ID sichtbar gemacht werden. Das sähe zum Beispiel so aus:</p>
<h3 class="center">benutzer@einfachjabber.de/mobil</h3>
<h2>Unabhängigkeit</h2>
<p>Durch diese anbieterübergreifende Kommunikation ergibt sich ein weiterer Vorteil: Du kannst dir deinen Anbieter frei aussuchen. Die großen Dienste wie ICQ oder MSN haben teils sehr fragwürdige Geschäftsbedingungen. Bei Jabber ist es kein Problem einen Anbieter zu finden, der deinen Vorstellungen von Datenschutz und Privatsphäre entspricht.</p>
<h2>Privatsphäre</h2>
<p>In der Regel laufen Gespräche über ICQ oder MSN unverschlüsselt ab. Dies kann zum Beispiel in öffentlichen W-LANs (Uni, Flughafen, Cafe, etc.) dazu führen, dass Fremde deine privaten Gespräche ohne großen  Aufwand mitlesen können. Jabber bietet die Möglichkeit sowohl die Verbindung zum Jabber-Anbieter, als auch einzelne Gespräche auf einfache, aber effiziente Weise zu verschlüsseln. Private Chats bleiben also auch wirklich privat.</p>
<h2 id="Offener_Unterbau">Offener Unterbau</h2>
<p>Das Protokoll auf dem Jabber basiert (<a href="http://wiki.einfachjabber.de/Glossar#XMPP">XMPP</a>) ist für Jedermann einsehbar. Es kann also jeder einen Client programmieren oder das Protokoll als Unterbau für andere Dienste benutzen.</p>
<h4>Lizenz &amp; Quellen</h4>
<p>Dieser Text steht unter der <a href="http://creativecommons.org/licenses/by-sa/3.0/de/">Namensnennung-Weitergabe unter gleichen Bedingungen 3.0 Deutschland</a> Lizenz und basiert in Teilen auf dem <a href="http://my.opera.com/freedo/blog/2010/02/10/was-ist-eigentlich-jabber">Blogeintrag von Frederik Elwert</a>


{% endblock %}
