{% extends "mainsite/layout.html" %}
{% block description %}Jabber Einsteigertutorials für Linux, Mac, Windows und Co.{% endblock %}
{% block title %}Jabber Einsteigertutorials für Linux, Mac, Windows und Co.{% endblock %}
{% block content %}

  <h1>Bitte wähle Dein Betriebssystem</h1>
  <ul id="oslist">
    {% for cat in oslist|sort %}
    {% if cat == 'Andere'%}
      
    {% else %}
    <li class="{% if oslist[cat] %}top {% endif %}overlay">{% if not oslist[cat] %}<a href="{{ url_for('clientlist', osystem=cat|lower) }}">{% endif %}<img src="{{ url_for('static', filename='images/os/logo-' + cat|lower + '.png') }}" alt="{{ cat }}" />{% if not oslist[cat] %}</a>{% endif %}<span class="overlaytext">{{ cat }}</span>
      {% if oslist[cat] %}
      <ul>
        {% for os in oslist[cat]|sort %}
        <li><a href="{{ url_for('clientlist', osystem=os.short) }}"><img height="24" width="24" src="{{ url_for('static', filename='images/os/logo-' + os.short + '.png') }}" alt="os.name" /><span class="osname">{{ os.name }}</span></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endif %}
    </li>
    {% endfor %}
    <li class="top overlay"><img src="{{ url_for('static', filename='images/os/logo-andere.png') }}" alt="Andere" /><span class="overlaytext">Andere</span>
      <ul>
        {% for os in oslist['Andere']|sort %}
        <li><a href="{{ url_for('clientlist', osystem=os.short) }}"><img height="24" width="24" src="{{ url_for('static', filename='images/os/logo-' + os.short + '.png') }}" alt="os.name" /><span class="osname">{{ os.name }}</span></a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endblock %}
