{% extends "mainsite/layout.html" %}
{% block head %}
{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
<div id="links">
  <div id="main">
    <h1>schon fertig!</h1>
  {% include "mainsite/tutorial-pagination.html"%}
    <p>Weitere Informationen zur generellen Nutzung deines Clients, oder der Einrichtung von fortgeschrittenen Themen wie Chat-Verschlüsselung und Gruppenchats findest du in unserem Wiki unter:</p><a href="http://wiki.einfachjabber.de/{{ metadata.client }}" title="{{ metadata.client }} im wiki.einfachjabber.de"><span class="h2">http://wiki.einfachjabber.de/{{ metadata.client }}</span></a>
    <h3>weitere Links:</h3>
    <ul class="links">
    {% for link in linkdata %}
      <li><a href="{{ link.url }}">{{ link.linktext }}</a></li>
    {% endfor %}
    </ul>
    <p>Wenn dir unser Tutorial weitergeholfen hat, wäre es schön, wenn du deinen Freunden von uns und Jabber erzählen, oder eine monetäre Kleinigkeit zum Betrieb dieser Plattform beitragen würdest.</p>
    <h3>Tutorial bewerten</h3>
    {% if success %}
    <h4 id="thanks">Danke für deine Bewertung!</h4>
    {% endif %}
    <div id="formwrap">
    <form action="{{ url_for('mainsite.tutoriallinks', tid=tid) }}" method="post" accept-charset="utf-8">
      <div id="starcontainer">
        {{ form.rating.label }}
        <div id="star-cap"></div>
        <div id="stars">
        {{ form.rating }}
        </div>
        <button type="submit" value="Bewerten" class="submit" id="ratebutton">
          <span><span>Bewerten</span></span>
        </button>
      </div>
      <div id="hintcontainer">
        {{ form.hint.label }}
        {{ form.hint }}
      </div>
    </form>
    </div>
  </div>
  <div id="sidebar">
    <h3>Autor:</h3>
    <ul class="authordata">
      <li>
      {% if authordata.email %}
      <a href="mailto:{{ authordata.email }}" title="E-Mail an {{ authordata.name }}">{{ authordata.name }}</a>
      {% else %}
      {{ authordata.name }}
      {% endif %}
      </li>
      {% if authordata.jabber %}
      <li>Jabber: <a href="xmpp:{{ authordata.jabber }}" title="{{ authordata.jabber}}">{{ authordata.jabber }}</a></li>
      {% endif %}
      {% if authordata.website %}
      <li>Webseite: <a href="{{ authordata.website }}" title="{{ authordata.website }}">{{ authordata.website }}</a></li>
      {% endif %}
    </ul>
    <div id="copyright">
      <h3>Copyright</h3>
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/de/88x31.png" /></a>
    </div>
    <div id="sociallinks">
      <h3>Teilen/Spenden</h3>
      <a href="http://twitter.com/home?status=Jabber! Wie E-Mail, nur schneller - http://einfachjabber.de" title="twitter.com"><img src="{{ url_for('.static', filename='images/ui/twitter-mb.png') }}" alt="Twitter" /></a>
      <a href="http://identi.ca/notice/new?status_textarea=Jabber! Wie E-Mail, nur schneller - http://einfachjabber.de" title="identi.ca"><img src="{{ url_for('.static', filename='images/ui/identica-mb.png') }}" alt="Identi.ca" /></a>
      <a href="http://www.facebook.com/share.php?u=http://einfachjabber.de&amp;t=Jabber! Wie E-Mail, nur schneller!" title="facebook.com"><img src="{{ url_for('.static', filename='images/ui/facebook-mb.png') }}" alt="Facebook" /></a>
      {% autoescape false %}
      {{ paypal }} {{ flattr }}
      {% endautoescape %}
    </div>
  </div>
</div>
<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-1.4.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery-ui-1.8.4.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.ui.stars.min.js') }}"></script>
<script language="javascript">
  jQuery(document).ready(function() {
    $('#stars').stars({
      inputType: 'select',
      cancelShow: false,
      captionEl: $('#star-cap')
    });
  });
</script>
{% endblock %}
