<div id=navigation>
  <div id=logo><a href="{{ url_for('list_posts') }}" title=Home><img src="{{ url_for('static', filename='images/ui/logo.png') }}" alt="einfachJabber.de Logo"></a></div>
  <ul id=nav>
    <li><a href="http://einfachjabber.de" title=Home><img src="{{ url_for('static', filename='images/ui/home.png') }}" alt=Home><br>Home</a></li>
    <li><a href="http://wiki.einfachjabber.de" title="Zum Wiki"><img src="{{ url_for('static', filename='images/ui/wiki.png') }}" alt=Wiki><br>Wiki</a></li>
    <li><a href="http://einfachjabber.de/help" title=Helfen><img src="{{ url_for('static', filename='images/ui/help.png') }}" alt=Helfen><br>Helfen</a></li>
  </ul>
</div>
