<section>
<h3><a href="{{ url_for('blog.status') }}" title="einfachjabber.de Server-Status">Server-Status</a></h3>
  <div class={{g.status.indicator }}>
    {{ g.status.text }}
  </div>
</section>
<section>
  <h3>Feeds</h3>
  <ul>
    <li><a href="http://feeds.feedburner.com/einfachjabberblog">Blog-Feed</a></li>
    <li><a href="http://feeds.feedburner.com/einfachjabberstatus">Server-Status-Feed</a></li>
  </ul>
</section>
<section>
  <h3>über einfachJabber.de</h3>
  <p><a href="http://einfachjabber.de" title="einfachJabber.de">einfachJabber.de</a> ist ein Community-Projekt das neuen Benutzern den Einsteig in die Jabber-Welt erleichtern möchte.</p>
  <a class="FlattrButton"
      title="blog.einfachjabber.de"
      data-flattr-uid="zero"
      data-flattr-tags="xmpp, jabber"
      data-flattr-category="text"
      data-flattr-button="compact"
      href="http://blog.einfachjabber.de/">
      Flattr
  </a>
</section>
<section>
  <h3>Autoren</h3>
  <ul>
    <li><a href="http://zeroathome.de">Ben Zimmer</a></li>
  </ul>
  <ul class="metalinks">
    <li><a href="xmpp:ben@einfachjabber.de">Autor werden?</a></li>
    <li><a href="xmpp:ben@einfachjabber.de">Gastpost schreiben?</a></li>
  </ul>
</section>
<section>
  <h3>Links</h3>
  <ul>
    <li><a href="http://draugr.de">draugr.de</a></li>
    <li><a href="http://web.jabber.ccc.de">jabber.ccc.de</a></li>
    <li><a href="http://jabber-server.de">jabber-server.de</a></li>
    <li><a href="http://jabme.de">jabme.de</a></li>
    <li><a href="http://planetjabber.de">planetjabber.de</a></li>
    <li><a href="http://swissjabber.ch">swissjabber.ch</a></li>
  </ul>
  <ul class="metalinks">
    <li><a href="xmpp:ben@einfachjabber.de">Link vorschlagen</a></li>
  </ul>
</section>
