{% extends "blog/layout.html" %}

{% block feed %}
<link href="{{ url_for('status_feed') }}"
      rel="alternate"
      title="einfachjabber.de Statusfeed"
      type="application/atom+xml">
{% endblock %}
{% block title %}Serverstatus{% endblock %}
{% block content %}
<h1>einfachJabber.de Serverstatus</h1>
{% for status in statuses %}
  <article class={{ status.indicator }}>
  <h2><time>{{ status.date.strftime('%Y-%m-%d %H:%M') }}</time> <span>(<a href="http://timeanddate.com/worldclock/fixedtime.html?year={{ status.date.year }}&month={{ status.date.month }}&day={{ status.date.day }}&hour={{ status.date.hour }}&min={{ status.date.minute }}&sec={{ status.date.second }}" title="The Fixed Time World Clock">UTC</a>)</span></h2>
    {{ status.text }}
  </article>
{% endfor%}
{% endblock %}
