{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
  <h1>{{ pagetitle }}</h1>
  <ul id="clientlist">
  {% for client in clist|sort %}
  <li class="overlay"><a href="{{ url_for('tutorial', tid=osystem + '-' + client|lower) }}">
    <img class="logos" src="{{ url_for('static', filename='images/client/logo-' + client|lower + '.png') }}" alt="{{ client }}" />
    {% if client|lower == defaultclient %}
      <span class="asterisk">*</span>
      <span class="defaultclient">Empfohlener Client</span>
    {% endif %}
      <span class="overlaytext">{{ client }}</span>
  </a></li>
  {% endfor %}
  </ul>
{% endblock %}
