<a href="http://flattr.com/thing/1699/einfachJabber-de-Jabber-Einsteiger-Plattform" target="_blank">
  <img class="flattr_button" src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
</a>
<g:plusone href="http://www.einfachjabber.de" size="medium"></g:plusone>
<a href="https://www.facebook.com/einfachjabber" title="einfachjabber.de auf Facebook">
  <img src="{{ url_for('.static', filename='images/ui/facebook.png') }}" alt="Facebook" />
</a>
<a href="http://twitter.com/einfachjabber" title="einfachjabber.de auf Twitter">
  <img src="{{ url_for('.static', filename='images/ui/twitter.png') }}" alt="Follow us on Twitter" />
</a>
<a href="http://identi.ca/einfachjabber" title="einfachjabber.de auf identi.ca">
  <img src="{{ url_for('.static', filename='images/ui/identica.png') }}" alt="Follow us on identi.ca" />
</a>
<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/" title="Creative Commons - Namensnennung-Keine kommerzielle Nutzung-Weitergabe unter gleichen Bedingungen 3.0 Deutschland">
  <img src="{{ url_for('.static', filename='images/ui/cc.png') }}" alt="http://creativecommons.org/licenses/by-nc-sa/3.0/de/" />
</a>
<a href="{{ url_for('mainsite.impressum') }}" title="Impressum">
  <img src="{{ url_for('.static', filename='images/ui/impressum.png') }}" alt="Impressum" />
  <span>Impressum</span>
</a>

<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.firefly-it.de/" : "http://stats.firefly-it.de/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.firefly-it.de/piwik.php?idsite=5" style="border:0" alt=""/></p></noscript>
<!-- End Piwik Tag -->

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
