<a href="http://flattr.com/thing/1699/einfachJabber-de-Jabber-Einsteiger-Plattform" target="_blank">
  <img class="flattr_button" src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" />
</a>
<g:plusone href="http://www.einfachjabber.de" size="medium"></g:plusone>
<a href="https://www.facebook.com/einfachjabber" title="einfachjabber.de auf Facebook">
  <img src="{{ url_for('.static', filename='images/ui/facebook.png') }}" alt="Facebook" />
</a>
<a href="http://twitter.com/einfachjabber" title="einfachjabber.de auf Twitter">
  <img src="{{ url_for('.static', filename='images/ui/twitter.png') }}" alt="Follow us on Twitter" />
</a>
<a href="http://identi.ca/einfachjabber" title="einfachjabber.de auf identi.ca">
  <img src="{{ url_for('.static', filename='images/ui/identica.png') }}" alt="Follow us on identi.ca" />
</a>
<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/" title="Creative Commons - Namensnennung-Keine kommerzielle Nutzung-Weitergabe unter gleichen Bedingungen 3.0 Deutschland">
  <img src="{{ url_for('.static', filename='images/ui/cc.png') }}" alt="http://creativecommons.org/licenses/by-nc-sa/3.0/de/" />
</a>
<a href="{{ url_for('mainsite.impressum') }}" title="Impressum">
  <img src="{{ url_for('.static', filename='images/ui/impressum.png') }}" alt="Impressum" />
  <span>Impressum</span>
</a>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1618936-10']);
  _gaq.push(['_setDomainName', 'einfachjabber.de']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
