{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
<h1>Impressum</h1>

<h3>Kontakt</h3>
<p>
Benjamin Zimmer<br />
Am Walde 2<br />
56249 Herschbach<br />
</p>
<p>
E-Mail: <a href="mailto:bz@einfachjabber.de">bz@einfachjabber.de</a><br />
öffentliche Mailingliste: <a href="mailto:einfachjabber@librelist.com" title="Nachricht an die einfachJabber.de Mailingliste schicken">einfachjabber@librelist.com</a><br />
Jabber: <a href="xmpp:zeroathome@jabber.ccc.de">zeroathome@jabber.ccc.de</a><br />
MUC: <a href="xmpp:einfachjabber.de@conference.jabber.ccc.de" title="Jabber Kontakt zeroathome@jabber.ccc.de">einfachjabber.de@conference.jabber.ccc.de</a>

</p>


<h3>Disclaimer</h3>
<p>Alle auf dieser Seite zu findenden Anleitungen wurden nach bestem Wissen und Gewissen angefertigt. Dennoch ist es nie ausgeschlossen, dass bei unsachgemäßer Anwendung zu unerwarteten Ergebnissen kommen. Für etwaige Schäden oder Datenverlust können und werden keinerlei Haftung übernommen.</p>

<h3 name="izenzen">Lizenzen</h3>
<p>Der Großteil der auf dieser Plattform zu findenden Bilder und Texte stehen unter der Creative Commons <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/" title="Creative Commons - Namensnennung-Keine kommerzielle Nutzung-Weitergabe unter gleichen Bedingungen 3.0 Deutschland">"Namensnennung-Keine kommerzielle Nutzung-Weitergabe unter gleichen Bedingungen 3.0 Deutschland"</a> Lizenz.</p>
<p>Davon ausgenommen sind alle Betriebssystem- und Client-Logos. Bei Verwendung dieser, ist das jeweilige Markenrecht / Copyright zu beachten.</p>
<p>Sollten Sie als Rechteinhaber auf dieser Seite ihre Rechte verletzt sehen, bitten wir Sie mit uns Kontakt aufzunehmen, damit wir die entsprechenden Inhalte schnellstmöglich entfernen können. Die entsprechenden Adressen finden Sie oben auf dieser Seite.</p>

<h3>Datenschutz</h3>
<p>Die einzigen auf dieser Seite erhobenen Daten dienen ausschließlich statistischen Zwecken. Registriert werden:<p>
Zeit des Besuches<br />
Angeschaute Seiten<br />
Browser- und Betriebssystemversion sowie deren Einstellungen<br />
<p>IP-Adressen werden nicht gespeichert.</p>
{% endblock %}
