{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
{% if success %}
  <h1>Registrierung erfolgreich!</h1>
  <p>Die Registrierung deines Benutzernames (<a href="xmpp:{{ jid }}" title="{{ jid }}">{{ jid }}</a>) war erfolgreich. 
  {% if email %}
  Deine Zugangsdaten wurden dir auch noch einmal per E-Mail an {{ email }} gesendet.</p>
  {% endif %}
  <p>Falls du Hilfe beim Einrichten eines Programmes zur Nutzung deines Jabber-Kontos brauchst, klicke bitte <a href="{{ url_for('oslist') }}">hier</a>.</p>  
{% else %}
{% if regerror %}
  <h1>Ein Fehler ist aufgetreten!</h1>
  {% if regerror == 'conflict' %}
    Der Benutzername {{ jid }} ist leider schon vergeben, wähle bitte einen anderen.
  {% else %}
    Ein unbekannter Fehler ist aufgetreten. Bitte versuche es noch einmal. Eventuell hilft es einen anderen Server auszuwählen.
  {% endif %}
{% else %}
  <h1>Hier kannst du einen neuen Jabber-Account anlegen.</h1>
  <p>Dazu trage einfach deinen gewünschten Benutzernamen ein und wähle einen
  Server aus. Die hier verfügbaren Server sind nur eine kleine Auswahl, mehr Server und Informationen zu deren Betreibern findest du <a href="http://wiki.einfachjabber.de/Jabber-Provider" title="einfachjabber.de Wiki - Jabber Provider">hier</a>.<br />
  Falls du deine Zugangsdaten als Erinnerung per E-Mail erhalten möchtest, fülle einfach das E-Mail Feld unten aus. Deine E-Mail Adresse wird nicht bei uns gespeichert! Als letztes fehlt nur noch ein Passwort und ein Klick auf "Anlegen".</p> 
{% endif %}
<div id="regform">
<form action="{{ url_for('jabberreg') }}" method="post" accept-charset="utf-8">
  <p>
    {% if form.nick.errors %}
      <ul class="errors">
        {% for error in form.nick.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {{ form.nick.label }}<br /> {{ form.nick(class='reg-textfield') }} <span>@</span> {{ form.domain(class='reg-selectfield') }}<br />
  </p>
  <p>
    {% if form.email.errors %}
      <ul class="errors">
        {% for error in form.email.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {{ form.email.label }}<br /> {{ form.email(class='reg-textfield') }}
  </p>
  <p>
    {% if form.passwd.errors %}
      <ul class="errors">
        {% for error in form.passwd.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    {{ form.passwd.label }}<br /> {{ form.passwd(class='reg-textfield') }}
    <div class="colorbar" id="colorbar"></div>
    <br /><span class="percent" id="percent">
			0%
		</span>
		&nbsp;&nbsp;
		<span class="result" id='result'>
			Bitte Passwort eingeben
		</span>
  </p>
  {% if captchaerror %}
    <ul class="errors">
      <li>Das waren nicht die richtigen Worte, bitte versuche es erneut.</li>
    </ul>
  {% endif %}
      {% autoescape false %}
      {{ captchahtml }}
      {% endautoescape %}
  <p>
    <button type="submit" value="Absenden" class="submit">
      <span><span>Absenden</span></span>
    </button><br />
  </p>
</form>
</div>
{% endif %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/passwordStrengthMeter.js') }}"></script>
<script language="javascript">
	jQuery(document).ready(function() {

  $('.colorbar').show()
  $('.percent').show()
  $('.result').show()

	var bpos = "";
	var perc = 0 ;
	var minperc = 0 ;
	$('#passwd').css( {backgroundPosition: "0 0"} );
	$('#email').keyup(function(){
		$('#result').html(passwordStrength($('#passwd').val(),$('#email').val())) ;
		perc = passwordStrengthPercent($('#passwd').val(),$('#email').val());

		bpos=" $('#colorbar').css( {backgroundPosition: \"0px -" ;
		bpos = bpos + perc + "px";
		bpos = bpos + "\" } );";
		bpos=bpos +" $('#colorbar').css( {width: \"" ;
		bpos = bpos + (perc * 2.5) + "px";
		bpos = bpos + "\" } );";
		eval(bpos);
	    	$('#percent').html(" " + perc  + "% ");
	              })
	$('#passwd').keyup(function(){
		$('#result').html(passwordStrength($('#passwd').val(),$('#email').val())) ; 
		perc = passwordStrengthPercent($('#passwd').val(),$('#email').val());
		
		bpos=" $('#colorbar').css( {backgroundPosition: \"0px -" ;
		bpos = bpos + perc + "px";
		bpos = bpos + "\" } );";
		bpos=bpos +" $('#colorbar').css( {width: \"" ;
		bpos = bpos + (perc * 2.56) + "px";
		bpos = bpos + "\" } );";
		eval(bpos);
	    	$('#percent').html(" " + perc  + "% ");
		})
	})
	function showMore()
	{
		$('#more').slideDown()
	}
</script>
{% endblock %}
