{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
  <h1>Clients für {{ pagetitle }}</h1>
  <ul id="clientlist">
  {% for client in clist %}
  <li class="overlay"><a class="{% if client == default %}defaultclient{% endif %}" href="{{ url_for('tutorial', tid=osystem + '-' + client) }}">
    <img class="logos" src="{{ url_for('static', file='images/client/logo-' + client + '.png') }}" alt="{{ client }}" />
    {% if client == default %}
      <span class="asterisk">*</span>
      <span class="text">Empfohlener Client</span>
    {% endif %}
  </a></li>
  {% endfor %}
  </ul>
{% endblock %}
