<a href="http://www.facebook.com/pages/Jabber-Germany/282026123863" title="Einfachjabber.de auf Facebook"><img src="{{ url_for('static', file='images/ui/facebook.png') }}" alt="Facebook" /></a>
  <a href="http://twitter.com/jabbergermany" title="Einfachjabber.de auf Twitter"><img src="{{ url_for('static', file='images/ui/twitter.png') }}" alt="Follow us on Twitter" /></a>
<a href="http://identi.ca/jabbergermany" title="Einfachjabber.de auf identi.ca"><img src="{{ url_for('static', file='images/ui/identica.png') }}" alt="Follow us on identi.ca" /></a>
<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/" title="Creative Commons - Namensnennung-Keine kommerzielle Nutzung-Weitergabe unter gleichen Bedingungen 3.0 Deutschland"><img src="{{ url_for('static', file='images/ui/cc.png') }}" alt="http://creativecommons.org/licenses/by-nc-sa/3.0/de/" /></a>
<a href="{{ url_for('impressum') }}" title="Impressum"><img src="{{ url_for('static', file='images/ui/impressum.png') }}" alt="Impressum" /><span>Impressum</span></a>
{{ trackingcode }}
