<div id="navigation">
  <div id="logo"></div>
  <ul id="nav">
    {% for outlink, url, text, icon in navigation %}
    {% if outlink %}
    <li><a href="{{ url }}" title="{{ text }}"><img src="{{ url_for('static', file='images/ui/' + icon) }}" /></a><a href="{{ url }}" title="{{ text }}">{{ text }}</a></li>
    {% else %}
    <li><a href="{{ url_for(url) }}" title="{{ text }}"><img src="{{ url_for('static', file='images/ui/' + icon) }}" /></a><a href="{{ url_for(url) }}" title="{{ text }}">{{ text }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
