{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
<h1>Tutorials schreiben</h1>

<p>Zur Erweiterung unserer Plattform sind wir immer auf der Suche nach neuen Tutorials zu Clients, die hier zur Zeit noch nicht zu finden sind. Wenn du uns unterstützen möchtest, und ein Tutorial zu unserer Sammlung hinzufügen möchtest, schreibe einfach eine Mail an <a href="mailto:info@einfachjabber.de" title="Mail an info@einfachjabber.de">info@einfachjabber.de</a> oder melde dich per Jabber bei <a href="xmpp:zeroathome@jabber.ccc.de" title="Jabber Kontakt zeroathome@jabber.ccc.de">zeroathome@jabber.ccc.de</a>.</p>

<h1>Fehler melden</h1>
<p>Falls dir in einem Tutorial, oder in einem anderen Teil der Seite Fehler auffallen, würden wir uns freuen wenn du diesen melden würdest. Dies kannst du per Mail an <a href="mailto:info@einfachjabber.de" title="Mail an info@einfachjabber.de">info@einfachjabber.de</a> oder direkt per Jabber an <a href="xmpp:zeroathome@jabber.ccc.de" title="Jabber Kontakt zeroathome@jabber.ccc.de">zeroathome@jabber.ccc.de</a>.</p>

<h1>Spenden</h1>
<p>Nichts im Leben ist umsonst. So auch nicht der Server, der dir diese Seite hier nach Hause liefert. Wenn dir diese Seite weitergeholfen hat, oder du uns einfach so unterstützen möchtest, findest du hier ein paar Möglichkeiten dies zu tun.</p>
<h2>Paypal</h2>
<p>Eine simple Spende kannst du zum Beispiel über Paypal an uns senden. (weitere Möglichkeiten auf <a href="mailto:info@einfachjabber.de" title="Mail an info@einfachjabber.de">Anfrage</a>)</p>
{{ paypal }}

<h2>T-Shirts</h2>
<p>Gleich doppelt unterstützen kannst du uns durch den Kauf eines T-Shirts aus <a href="http://einfachjabber.spreadshirt.de" title="einfachJabber.de T-Shirt Shop">unserem Shop</a>. Einerseits erhalten wir einen Anteil des Preises des T-Shirts, andererseits kannst du so offline Werbung für uns machen.</p>
<a class="boxl" href="http://einfachjabber.spreadshirt.de"><img src="http://image.spreadshirt.net/image-server/image/product/17968582/view/1/type/png/width/190/height/190" border="0" alt="test" title="12267675-17968582" /></a>
<h2>Links und Blogposts</h2>
<p>Wenn du uns auf deiner Internetseite verlinken möchtest, oder uns vielleicht in einem Blogpost erwähnen möchtest, findest du unter <a href="http://wiki.einfachjabber.de/Presskit" title="einfachJabber.de PressKit">http://wiki.einfachjabber.de/Presskit</a> unser Logo und andere Grafiken zu freien Verwendung.
<h2>Twitter, Facebook und Co.</h2>
<p>Zu guter Letzt, kannst du uns natürlich helfen, indem du anderen von uns und Jabber erzählst:</p>
<div id="sociallinks">
  <a href="http://twitter.com/home?status=Jabber! Wie E-Mail, nur schneller - http://einfachjabber.de" title="twitter.com"><img src="{{ url_for('static', file='images/ui/twitter-mb.png') }}" alt="Twitter" /></a>
  <a href="http://identi.ca/notice/new?status_textarea=Jabber! Wie E-Mail, nur schneller - http://einfachjabber.de" title="identi.ca"><img src="{{ url_for('static', file='images/ui/identica-mb.png') }}" alt="Identi.ca" /></a>
  <a href="http://www.facebook.com/share.php?u=http://einfachjabber.de&t=Jabber! Wie E-Mail, nur schneller!" title="facebook.com"><img src="{{ url_for('static', file='images/ui/facebook-mb.png') }}" alt="Facebook" /></a>

<h1>Generell</h1>
<p>Wenn du denkst, dass du uns in irgendeiner Form, die nicht auf dieser Seite aufgeführt ist, helfen kannst, wollen wir dich natürlich nicht abhalten. Einfach melden per Mail (<a href="mailto:info@einfachjabber.de" title="Mail an info@einfachjabber.de">info@einfachjabber.de</a>) oder Jabber (<a href="xmpp:zeroathome@jabber.ccc.de" title="Jabber Kontakt zeroathome@jabber.ccc.de">zeroathome@jabber.ccc.de</a>).
</div>
{% endblock %}
