{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
<h1>weiterführende Links zu {{ metadata.client }}</h1>
  <div id="navigation">
    <a class="nav-links-back" href="{{ url_for('tutorial', tid=tid, page=maxpage) }}">Zurück zum Tutorial</a>
  </div>
  <ul id="links">
  {% for link in linkdata %}
    <li><a href="{{ link.url }}">{{ link.linktext }}</a></li>
  {% endfor %}
  {% if authordata %}
    <li>Autor dieses Tutorials: <a href="{{ data.authorlink }}" title="{{ data.author }}">{{ data.author }}</a></li>
  {% endif %}
  </ul>

{% endblock %}
