{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
<div id="links">
<h1>schon fertig!</h1>
  {% include "tutorial-pagination.html"%}<br />
  <p>Weitere Informationen zur generellen Nutzung deines Clients, oder der Einrichtung von fortgeschrittenen Themen wie Chat-Verschlüsselung und Gruppenchats findest du in unserem Wiki unter:</p> <a href="http://wiki.einfachjabber.de/{{ metadata.client }}" title="{{ metadata.client }} im wiki.einfachjabber.de"><h2>http://wiki.einfachjabber.de/{{ metadata.client }}</h2></a>
  <h3>sonstige Links:</h3>
  <ul class="links">
  {% for link in linkdata %}
    <li><a href="{{ link.url }}">{{ link.linktext }}</a></li>
  {% endfor %}
  </ul>
  <h3>Autor dieses Tutorials:</h3>
  <ul class="authordata">
    <li>Name: 
    {% if authordata.email %}
    <a href="mailto:{{ authordata.email }}" title="E-Mail an {{ authordata.name }}">{{ authordata.name }}</a>
    {% else %}
    {{ authordata.name }}
    {% endif %}
    </li>
    {% if authordata.jabber %}
    <li>Jabber: <a href="xmpp:{{ authordata.jabber }}" title="{{ authordata.jabber}}">{{ authordata.jabber }}</a></li>
    {% endif %}
    {% if authordata.website %}
    <li>Webseite: <a href="{{ authordata.website }}" title="{{ authordata.website }}">{{ authordata.website }}</a></li>
    {% endif %}
   </ul>
   <p>Wenn dir unser Tutorial weitergeholfen hat, wäre es schön, wenn du deinen Freunden von uns erzählen, oder eine monetäre Kleinigkeit zum Betrieb dieser Plattform beitragen würdest.</p>
   <div id="sociallinks">
    <a href="http://twitter.com/home?status=Jabber! Wie E-Mail, nur schneller - http://einfachjabber.de" title="twitter.com"><img src="{{ url_for('static', file='images/ui/twitter-mb.png') }}" alt="Twitter" /></a>
    <a href="http://identi.ca/notice/new?status_textarea=Jabber! Wie E-Mail, nur schneller - http://einfachjabber.de" title="identi.ca"><img src="{{ url_for('static', file='images/ui/identica-mb.png') }}" alt="Identi.ca" /></a>
    <a href="http://www.facebook.com/share.php?u=http://einfachjabber.de&t=Jabber! Wie E-Mail, nur schneller!" title="facebook.com"><img src="{{ url_for('static', file='images/ui/facebook-mb.png') }}" alt="Facebook" /></a>
     {{ paypal }}
   </div>
     <br />
   <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/de/88x31.png" /></a><br />Der Text und die Bilder dieses Tutorials stehen unter der <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/">Namensnennung-Keine kommerzielle Nutzung-Weitergabe unter gleichen Bedingungen 3.0 Deutschland Lizenz</a>.
</div>
{% endblock %}
