{% extends "layout.html" %}
{% block head %}

{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
  <h1>{{ data['client'] }} {{ data['client-version'] }} unter {{ data['os']}}</h1>
  {% include "tutorial-navigation.html"%}
      {% if data['tutorial'][page]['image'] %}
        <img id="tut-image" src="{{ url_for('static', file='tutorials/' + tid + '/' + data['tutorial'][page]['image']) }}" alt="{{data['tutorial'][page]['image']}}" />
      {% endif %}
        <p id="caption">{{ data['tutorial'][page]['text'] }}</p>
      {% if data['tutorial'][page]['more'] %}
      <a href="{{ url_for('tutorial', tid=tid, page=page+2) }}">{{ data['tutorial'][page]['defaultlink'] }}</a>
      <a href="{{ url_for('tutorialmore', tid=tid, page=page+1) }}">{{ data['tutorial'][page]['morelink'] }}</a>
      {% endif %}
  
{% endblock %}
