{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}
{% block content %}
<h1>weiterführende Links zu {{ metadata.client }}</h1>
  <div id="tut-navigation">
    <a class="nav-links-back" href="{{ url_for('tutorial', tid=tid, page=maxpage) }}">Zurück zum Tutorial</a>
  </div>
  <ul id="links">
  {% for link in linkdata %}
    <li><a href="{{ link.url }}">{{ link.linktext }}</a></li>
  {% endfor %}
  </ul>

  Autor dieses Tutorials: 
    {% if authordata.email %}
    <a href="mailto:{{ authordata.email }}" title="E-Mail an {{ authordata.name }}">{{ authordata.name }}</a>
    {% else %}
    {{ authordata.name }}
    {% endif %}
    {% if authordata.website %}
     | Webseite: <a href="{{ authordata.website }}" title="{{ authordata.website }}">{{ authordata.website }}</a>
    {% endif %}
    {% if authordata.jabber %}
     | Jabber: <a href="xmpp:{{ authordata.jabber }}" title="{{ authordata.jabber}}">{{ authordata.jabber }}</a>
    {% endif %}
  </ul>
    
{% endblock %}
